.user-scroll-div{
    display:flex;
    width:30%;
    margin:auto;
    box-shadow: rgba(249, 5, 58, 0.15) 3.95px 3.95px 4.6px;
    justify-content: space-between;
    gap:30px;
    margin-top:20px;   
}
.user-image{
    border-radius: 50%;
}

@media screen and (max-width:1900px)and (min-width:600px) {
    .user-scroll-div{
        width:70%;
    }
    .user-name{
        font-size: 40px;
        font-weight:500;
    }
}
@media screen and (max-width:600px)and (min-width:300px) {
    .user-scroll-div{
        width:80%
    }
    .user-name{
        font-size: 30px;
    }
}
.loader{
    text-align: center;
    font-size: 20px;
}